/* Increase size proportionally with screen width between 320px-400px
to maximise use of screen width and ensure consistent layout on different
mobile devices */
@media (max-width: 400px) {
  html {
    font-size: 5vw;
  }
}

/* Slow the rate of increase on larger screens */
@media (min-width: 401px) {
  html {
    font-size: min(calc(100% + 1vw), 200%);
  }
}

.text-2xs {
  font-size: 0.675rem;
}
